@import "./../../../assets/styles/main-style.scss";
.header-cart__background {
        position: fixed;
        top: 7.5rem;
        left: 0;
        bottom: 0;
        right: 0;
        // pointer-events: none;
    
        height: 100%;
        width: 100%;
    
        background: #39374860;
        // background: red;
    
         z-index: 99;
    }

    .header-cart__currency-hidder {
        position: absolute;
        top: 0rem;
        right: 8rem;
        height: 8rem;
        width: 5rem;
        background-color: white;
    }


.header-cart {
     position: relative;
    cursor: pointer;

    svg {
        height: 1.6rem;
        width: 1.6rem;
    }

    // right: 4.5rem;

    
    &__count {
         position: absolute;
        top: -.5rem;
        right: -0.6rem;


        display: flex;
        justify-content: center;
        align-items: flex-start;

        font-size: $font-size-primary;
        font-weight: 700;
        color: $white;

        width: 1.3rem;
        height: 1.3rem;
        font-size: 0.9rem;

        border-radius: 50%;
        background-color: $black;
    }    
}

.header-cart-menu {
    position: absolute;
    top: 3.8rem;
    right: 0rem;
    z-index: 100;
    
    max-height: 70vh;
    overflow-y: auto;

    background: $white;
    
    display: flex;
    flex-direction: column;
    
    cursor:initial;

    padding: 1rem;
    // width: 26rem;

    font-size: $font-size-small;
    
    &__title {
    
    }

    &__products {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        gap: 1rem;
    }

    &__total {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        &-label {
            font-weight: 700;
        }
    }

    &__control-buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;      
    }

    &__control-button {
        cursor: pointer;
        height: 3rem;
        width: 10rem;
        border-style: none;
        font-size: $font-size-small;
    }

    &__bag-open {
        background: $white;
        border: 1px solid $black;
    }

    &__check-out {
        background: $primary;
        color: $white;
    }
}
