@import "./../../../assets/styles/main-style.scss";

$height: 0;

.header-nav-item {
    padding: 2rem 1.3rem 2.4rem 1.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $black;

    font-family: "Raleway";
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 120%;

    cursor: pointer;

    transition: color 0.2s ease-in-out;

    &:hover {
        border-bottom: $primary 0.2rem solid;
        color: $primary;
        font-weight: 500;

    }
}

