@import "./../../../assets/styles/main-style.scss";

.modal-wrapper {
    .change-currency {
        position: absolute;
        top: 6rem;
        right: 5rem;

        background-color: $white;

        cursor: pointer;

        margin: 0;
        padding: 0;

        li {
            font-size: 1.6rem;
            list-style: none;
            text-transform: uppercase;
            text-align: left;

            width: 7rem;
            padding: 0.8rem 1rem 0.8rem 1.2rem;

            transition: color 0.2s ease-in-out;

            &:hover {
                // color: $primary;
                // -webkit-box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.36);
                // box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.1);

                border-bottom: $primary 0.2rem solid;
                color: $primary;
                font-weight: 500;
            }
        }
    }
}
