@import "./../../../assets/styles/main-style.scss";

.item-attribute {
    // margin-right: 10px;
    // font-size: $font-size-very-small;

    &__input {
        display: none;
        /* Checked */
        &:checked + .item-attribute__label {    
            border-bottom: 7px solid $light-gray;
            top: -7px;
        
            
        }
        /* Hover */
        &:hover {
            color: $light-gray;
        }

        /* Disabled */
        &:disabled + .item-attribute__label {
            background: #a6a6a620;
            border-color: $light-gray;
            color: $light-gray;
        }
    }

    &__label {
        display: inline-block;
        
        cursor: pointer;
        border-radius: 5%;
        user-select: none;


        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0,  0.2);

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 150%;
        color: $black;

        width: 1.6rem;
        height: 1.6rem;

        &_color {

        }
    }
}
