@import "./../../../assets/styles/main-style.scss";

.currency {
    position: relative;
    height: 100%;

    &__select-button {
        height: 100%;
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        cursor: pointer;

        gap: 8px;

        .icon {
            position: relative;
            top: -3px;
            font-size: $font-size-primary;
            font-weight: 500;
        }

        .menu {
            .arrow {
                position: relative;

                height: 0.7rem;
                width: 0.7rem;

                padding-top: 0.6rem;
            }
            
            .arrow_up {
                top: 0.5rem;
                transform: rotate(180deg);
            }
        }
    }
}

@import "./../../../assets/styles/main-style.scss";

.currency__menu {
    display: none;
    position: absolute;

    z-index: 101;

    top: 3.5rem;
    left: -1rem;

    background-color: $white;

    cursor: pointer;

    -webkit-box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.36);
    box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.1);

    padding: 0;

    li {
        font-size: $font-size-primary;
        list-style: none;
        text-transform: uppercase;
        text-align: left;

        width: 7rem;
        padding: 0.8rem 1rem 0.8rem 1.2rem;

        transition: color 0.2s ease-in-out;

        &:hover {
            // color: $primary;

            border-bottom: $primary 0.2rem solid;
            color: $primary;
            font-weight: 500;
        }
    }
}


.currency:hover .currency__menu {
    display: block;
}
