.product-card-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    $size: 320px;

    height: calc($size + $size / 5);
    width: $size;

    &:hover {
        // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);\
        -webkit-box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.36);
        box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.1);

        .circle-icon {
            display:block;
        }
    }

    &__image {
        padding: 10px;
        padding-bottom: 0;

        position: relative;
        height: 100%;

        img {
            width: 100%;
        }

        .circle-icon {
            display: none;
            width: 2.6rem;
            height: 2.6rem;

            position: absolute;
            bottom: -1.3rem;
            right: 1.3rem;
        }
    }

    &__content {
        justify-self: end;
        padding: 10px;
        padding-bottom: 2rem;
    }

    &__title {
        font-weight: 300;
    }

    &__price {
        font-weight: 400;
    }
}
