@import "./../../../assets/styles/main-style.scss";

.product-card-desktop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 386px;

    &:hover {
        // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);\
        -webkit-box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.36);
        box-shadow: 3px 3px 27px 3px rgba(0, 0, 0, 0.1);

        .circle-icon {
            display: block;
        }
    }

    &_active {
        cursor: pointer;
    }
    &__image {
        cursor: pointer;
        
        padding: 10px;
        padding-bottom: 0;
        margin-bottom: 24px;

        position: relative;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 316px;
            width: auto;
        }

        .circle-icon {
            display: none;
            height: 52px;

            position: absolute;
            bottom: -1.3rem;
            right: 1.3rem;

            border-radius: 100%;

            &:hover {
                -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.14);
                box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.14);                
            }
        }
    }

    &__content {
        justify-self: end;
        padding: 10px;
        padding-bottom: 2rem;
    }

    &__title {
        font-weight: 300;
    }

    &__price {
        font-weight: 500;
    }

    &__out {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        opacity: 0.5;

        background-color: $white;

        > div {
            text-transform: uppercase;
            font-size: $font-size-primary;
            color: $light-gray;
        }
    }
}
